<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_shopify_root" name="Shopify Fulfillment" sequence="10"/>
    <menuitem id="menu_shopify_orders" name="Orders" parent="menu_shopify_root" action="view_shopify_order_action" sequence="10"/>
    <menuitem id="menu_shopify_boxes" name="Boxes" parent="menu_shopify_root" action="action_fulfillment_box" sequence="20"/>
    <menuitem id="menu_shopify_print_jobs" name="Print Jobs" parent="menu_shopify_root" action="action_print_job" sequence="30"/>
    <menuitem id="menu_shopify_config" name="Configuration" parent="menu_shopify_root" action="action_shopify_config_wizard" sequence="100"/>
</odoo>
